:root {
  /* Neutral */
  --color-white: hsl(0, 0%, 100%);
  --color-pale-blue: hsl(221, 100%, 96%);
  --color-light-lavender: hsl(241, 100%, 89%);
  --color-darkgray-blue: hsl(224, 30%, 27%);

  /* Primary */
  --color-light-red: hsl(0, 100%, 67%);
  --color-light-red-light: hsl(0, 100%, 95%);
  --color-orange-yellow: hsl(39, 100%, 56%);
  --color-orange-yellow-light: hsl(39, 100%, 95%);
  --color-green-teal: hsl(166, 100%, 37%);
  --color-green-teal-light: hsl(166, 100%, 95%);
  --color-cobalt-blue: hsl(234, 85%, 45%);
  --color-cobalt-blue-light: hsl(234, 85%, 95%);

  /* Gradients */
  --color-bg-light-slate-blue: hsl(252, 100%, 67%);
  --color-bg-light-royal-blue: hsl(241, 81%, 54%);
  --color-circle-violet-blue: hsla(256, 72%, 46%, 1);
  --color-circle-persian-blue: hsla(241, 72%, 46%, 0);

  font-family: "Hanken Grotesk", sans-serif;
  font-size: 16px;
}

body {
  background-color: var(--color-pale-blue);
  min-height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  width: 700px;
  max-width: 90%;
  border-radius: 25px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.summary-items-container {
  display: flex;
  flex-direction: column;  
  gap: 1rem; 
}

.result {
  flex: 1;
  background-image: linear-gradient(
    var(--color-bg-light-slate-blue),
    var(--color-bg-light-royal-blue)
  );
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: var(--color-light-lavender);
}

.result h2 {
  font-size: 1.8rem;
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--color-white);
}

.result p {
  font-size: 15px;
  opacity: 0.8;
  width: 80%;
  line-height: 1.5;
}

.score-circle {
  background: linear-gradient(
    180deg,
    var(--color-circle-violet-blue),
    var(--color-circle-persian-blue)
  );
  width: 140px;
  height: 140px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  font-weight: 800;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--color-white);
}

.score-circle span {
  font-size: 0.9rem;
  opacity: 0.6;
}

.summary {
  flex: 1;
  background-color: var(--color-white);
  padding: 1.5em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.summary h3 {
  font-size: 1.2rem;
  color: var(--color-darkgray-blue);
  margin-top: 10px;
}

.continue-button {
  background-color: var(--color-darkgray-blue);
  color: var(--color-white);
  padding: 15px 20px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 2em;
}

.continue-button:hover {
  background: linear-gradient(
    to bottom,
    var(--color-bg-light-slate-blue),
    var(--color-bg-light-royal-blue)
  );
}

.summary-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-radius: 10px;
}

.summary-item.reaction {
  background-color: var(--color-light-red-light);
  color: var(--color-light-red);
}

.summary-item.memory {
  background-color: var(--color-orange-yellow-light);
  color: var(--color-orange-yellow);
}

.summary-item.verbal {
  background-color: var(--color-green-teal-light);
  color: var(--color-green-teal);
}

.summary-item.visual {
  background-color: var(--color-cobalt-blue-light);
  color: var(--color-cobalt-blue);
}

.item-category {
  display: flex;
  align-items: center;
  gap: 10px;
}

.item-score {
  color: var(--color-darkgray-blue);
}

.item-score strong {
  font-weight: 800;
}

.item-score span {
  opacity: 0.5;
}

footer {
  margin: 6%;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .card-container {
    flex-direction: column;
    width: 100%;
    border-radius: 0;
    box-shadow: none;
  }

  .result {
    border-radius: 0 0 35px 35px;
    padding: 2em;
  }

  .summary {
    padding: 1.5em;
   
  }

  footer {
    position: static;
    margin: 2em 0;
  }
}